block -> statement block | statement
statement -> declaration | assignment | funccall | conditional | jump | label
assignment -> IDENTIFIER OPERATOR("=") expression SEMICOLON
funccall -> IDENTIFIER LPAREN argument RPAREN SEMICOLON
argument -> expression COMMA argument | expression
conditional -> "if" LPAREN expression RPAREN LBRACE block RBRACE
declaration -> IDENTIFIER IDENTIFIER OPERATOR("=") expression SEMICOLON
jump -> "goto" IDENTIFIER SEMICOLON
label -> IDENTIFIER COLON
expression -> CONST OPERATOR expression | IDENTIFIER OPERATOR expression | CONST | IDENTIFIER