block@scope -> statement block | statement
statement -> declaration | assignment | funccall | conditional | jump | label
assignment -> IDENTIFIER OPERATOR("=") expression SEMICOLON
funccall -> IDENTIFIER@func LPAREN argument RPAREN SEMICOLON
argument -> expression COMMA argument | expression
conditional -> "if" LPAREN expression RPAREN LBRACE block RBRACE
declaration@var -> IDENTIFIER@type IDENTIFIER@name OPERATOR("=") expression SEMICOLON
jump -> "goto" IDENTIFIER@jmp SEMICOLON
label@jmp -> IDENTIFIER@name COLON
expression -> CONST OPERATOR expression | IDENTIFIER@var OPERATOR expression | CONST | IDENTIFIER@var